body {
  margin: 0;
  background: #1d1f27;
  font-family: Arial, sans-serif;
  color: white;
  text-align: center;
}

.portfolio {
  max-width: 1100px;
  margin: auto;
  padding: 60px 20px;
}

h1 {
  font-size: 48px;
  margin-bottom: 20px;
  letter-spacing: 2px;
  font-weight: 800;
}

.categories {
  margin-bottom: 40px;
}

.categories a {
  text-decoration: none;
  color: #ccc;
  margin: 0 15px;
  font-size: 14px;
  text-transform: uppercase;
}

.categories a.active,
.categories a:hover {
  color: white;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 35px;
}

.item img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 6px;
}

.item h3 {
  margin: 12px 0 4px;
  font-size: 18px;
}

.item p {
  color: #b3b3b3;
  font-size: 14px;
}



@media (max-width: 900px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
